---
import Button from "../shared/Button.astro";
import Container from "../shared/Container.astro";
import  Navitem from "../shared/Navitem.astro";

const navItems = [
    {
        href:"#",
        text:"Home"
    },
    {
        href:"#instituciones",
        text:"Instituciones"
    },
    {
        href:"#about-us",
        text:"Sobre Nosotros"
    },
    
]
---

<header class="absolute inset-x-0 top-0 z-50 py-6">
    <Container>
        <nav class="w-full flex justify-between gap-6 relative">
            <!-- logo -->
            <div class="min-w-max inline-flex relative">
                <a href="/" class="relative flex items-center gap-3">
                    <div class="relative w-15 h-15 overflow-hidden flex rounded-full place-content-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-12 h-12 text-white">
                            <g fill="none">
                            <path fill="#9DE3D1" d="M50 256h240v240H50z"></path>
                            <path fill="#FF7B79" d="M10 16h240v240H10z"></path>
                            <path fill="#80B6FF" d="M241.928 132.931l239.04-20.88 20.88 239.04-239.04 20.88z"></path>
                            <path fill="#000" d="M214.373 417.515s-33.059-88.917-33.095-89.007c-1.849-4.562-6.215-7.508-11.126-7.508h-.013c-4.916.005-9.282 2.961-11.124 7.531-.03.074-33.379 88.956-33.379 88.956-1.94 5.171.679 10.935 5.85 12.875a9.98 9.98 0 0 0 3.511.64c4.048 0 7.858-2.477 9.364-6.49l5.857-15.612h39.613l5.794 15.584c1.924 5.176 7.679 7.814 12.858 5.888 5.178-1.923 7.815-7.68 5.89-12.857zm-56.649-28.614 12.393-33.032 12.28 33.032zM130 296c0-5.523-4.477-10-10-10H90c-5.523 0-10 4.477-10 10v30c0 5.523 4.477 10 10 10s10-4.477 10-10v-20h20c5.523 0 10-4.477 10-10zM250 416c-5.523 0-10 4.477-10 10v20h-20c-5.523 0-10 4.477-10 10s4.477 10 10 10h30c5.523 0 10-4.477 10-10v-30c0-5.523-4.477-10-10-10zM60 86V66h20c5.523 0 10-4.477 10-10s-4.477-10-10-10H50c-5.523 0-10 4.477-10 10v30c0 5.523 4.477 10 10 10s10-4.477 10-10zM175 226h30c5.523 0 10-4.477 10-10v-30c0-5.523-4.477-10-10-10s-10 4.477-10 10v20h-20c-5.523 0-10 4.477-10 10s4.477 10 10 10zM102.5 191h.044c.241-.001 24.156-.107 30.701-.107 18.888 0 34.254-15.354 34.254-34.225 0-11.161-5.376-21.089-13.675-27.341a30.512 30.512 0 0 0 5.584-17.618C159.408 94.776 145.62 81 128.674 81H102.5c-5.523 0-10 4.477-10 10v90a10.001 10.001 0 0 0 10 10zm30.746-20.107c-3.783 0-13.288.035-20.746.065v-28.49c2.179-.009 4.495-.018 6.709-.025h14.036c7.86 0 14.254 6.381 14.254 14.226.001 7.843-6.394 14.224-14.253 14.224zM128.674 101c5.919 0 10.734 4.804 10.734 10.709s-4.815 10.709-10.734 10.709c-1.923 0-5.544.01-9.493.024H112.5V101z" fill="#000000" opacity="1" data-original="#000000" class=""></path>
                            <path d="m511.963 350.21-6.53-74.71a9.995 9.995 0 0 0-3.229-6.52 9.975 9.975 0 0 0-7.61-2.57 9.954 9.954 0 0 0-6.79 3.53 9.94 9.94 0 0 0-2.3 7.3l5.67 64.75-219.171 19.18-19.171-219.16 219.162-19.18 5.67 64.75a9.952 9.952 0 0 0 3.22 6.52c2.06 1.88 4.83 2.82 7.61 2.58 5.489-.49 9.569-5.35 9.09-10.84l-6.54-74.71c-.221-2.62-1.51-5.1-3.53-6.79s-4.69-2.53-7.3-2.3l-220.211 19.259V16c0-5.523-4.477-10-10-10H10C4.477 6 0 10.477 0 16v240c0 5.523 4.477 10 10 10h30v230c0 5.523 4.477 10 10 10h240.001c5.522 0 10-4.477 10-10V378.792l202.871-17.742c2.62-.23 5.1-1.52 6.79-3.54s2.53-4.68 2.301-7.3zM20 26h220.001v97.116c-4.913.996-8.417 5.555-7.97 10.674l7.97 91.086V246H20zm260.002 460H60V266h183.6l9.351 106.87c.23 2.63 1.52 5.1 3.53 6.79 1.8 1.51 4.089 2.34 6.45 2.34.28 0 .57-.01.851-.04l16.22-1.418z" fill="#000000" opacity="1" data-original="#000000" class=""></path>
                            <path d="M325.18 165.791a9.992 9.992 0 0 0-10.834-9.09l-29.885 2.615c-5.502.481-9.572 5.332-9.091 10.833l2.614 29.886c.455 5.206 5.263 9.11 10.392 9.11 5.502-.481 10.014-5.351 9.532-10.853l-1.743-19.924 19.925-1.743c5.501-.482 9.571-5.333 9.09-10.834zM468.63 313.852l-2.614-29.886c-.48-5.501-5.341-9.566-10.833-9.09-5.502.481-9.572 5.332-9.091 10.833l1.743 19.924-19.925 1.743c-5.501.481-9.571 5.332-9.09 10.833.455 5.206 4.513 9.121 10.392 9.11l30.327-2.634c5.502-.481 9.572-5.331 9.091-10.833zM379.471 208.648c6.503-.569 12.956.896 18.672 4.236 4.77 2.787 10.893 1.179 13.679-3.589 2.786-4.769 1.18-10.893-3.589-13.679-9.31-5.44-19.858-7.822-30.505-6.891-14.177 1.24-26.977 8.162-36.04 19.491-8.953 11.191-13.183 25.366-11.91 39.914 1.272 14.547 7.899 27.772 18.66 37.239 9.727 8.557 21.775 13.136 34.336 13.136 1.507 0 3.021-.066 4.54-.199 11.689-1.022 21.809-5.942 29.263-14.227a45.53 45.53 0 0 0 4.033-5.203c3.062-4.596 1.818-10.805-2.778-13.867-4.595-3.062-10.803-1.819-13.866 2.778a25.33 25.33 0 0 1-2.255 2.913c-4.063 4.516-9.493 7.101-16.14 7.682-8.678.757-17.175-2.092-23.923-8.029-6.881-6.054-11.124-14.565-11.946-23.966s1.878-18.52 7.604-25.676c5.614-7.02 13.486-11.304 22.165-12.063z" fill="#000000" opacity="1" data-original="#000000" class=""></path>
                            <circle cx="491.554" cy="231.54" r="10" fill="#000000" opacity="1" data-original="#000000" class=""></circle>
                            </g>
                        </svg>

                    </div>
                    <div class="inline-flex text-lg font-semibold text-heading-1">
                        Puertas Educativas
                    </div>
                </a>
            </div>

            <div data-nav-overlay aria-hidden="true" class="fixed hidden inset-0 lg:!hidden bg-box-bg bg-opacity-50 backdrop-filter backdrop-blur-xl"></div>
            <div data-navbar class="flex h-0 overflow-hidden lg:!h-auto lg:scale-y-100 duration-300 ease-linear flex-col gap-y-6 gap-x-4 lg:flex-row w-full lg:justify-between lg:items-center absolute lg:relative top-full lg:top-0 bg-body lg:bg-transparent border-x border-x-box-border lg:border-x-0">
                <ul class="border-t border-box-border lg:border-t-0 px-6 lg:px-0 pt-6 lg:pt-0 flex flex-col lg:flex-row gap-y-4 gap-x-3 text-lg text-heading-2 w-full lg:justify-center lg:items-center">
                    {navItems.map(item=>{
                        return <Navitem {...item}/>
                    })
                    }
                </ul>
                

                
            </div>
            
            <div class="min-w-max flex items-center gap-x-3">
                <Button variant={"primary"}>
                    <span class="text-white relative z-[5] ">Inicia Sesión</span>
                </Button>
                <button data-switch-theme class="outline-none flex relative text-heading-2 rounded-full p-2 lg:p-3 border border-box-border ">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 dark:flex hidden">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z" />
                    </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 dark:hidden">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
                                </svg>
                                    
                    <span class="sr-only">switch theme</span>
                </button>
                
                <button data-toggle-nav data-open-nav="true" class="lg:hidden lg:invisible outline-none w-7 h-auto flex flex-col relative">
                    <span id="line1" class="w-6 h-0.5 rounded-full bg-heading-2 transition-all duration-300 ease-linear"></span> 
                    <span id="line2" class="w-6 origin-center  mt-1 h-0.5 rounded-ful bg-heading-2 transition-all duration-300 ease-linear"></span> 
                    <span id="line3" class="w-6 mt-1 h-0.5 rounded-ful bg-heading-2 transition-all duration-300 ease-linear"></span>                         
                    <span class="sr-only">togglenav</span>
                </button>
            </div>
        </nav>
    </Container>
</header>